// ARCHIVE //

.page-archives {
  .site-content {
    width: 100%;
    h1 {
      font-size: $font__size * 2;
    }
    h2 {
      font-size: $font__size * 1.5;
    }
    .clearfix {
      justify-content: flex-start;
    }

    .entry-header {
      justify-content: flex-start;
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0;
      padding: 0;
      padding-inline-start: 0;
      margin-block-start: 0;
      text-align: left;
      font-size: $font__size * 1.2;

      li {
        margin-bottom: 0.5rem;
        margin-right: 1.2rem;
      }
    }
  }
}
