/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 1rem;
  padding-top: 2rem;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

.number-pagination {
  a {
    padding: 10px;
  }
  span {
    padding: 10px;
  }
}
.entry-meta {
  display: flex;
}
