// FOOTER //

@include desktop;
@include tablet;

footer {
  margin-top: 40px;
  width: 100%;

  .main-navigation {
    width: 100%;

    .menu-main-menu-container {

      ul {
        display: flex;
        
        li {
          a {
            padding-right: 20px;
            padding-bottom: 10px;
            color: $color__text-alt;
            font-size: $font__size;
            &:after {
              padding-left: 10px;
              color: $color__text-main;
              content: '\007C';
            }
          }
          &:last-child {
            a {
              &:after {
                content: '';
              }
            }
          }
        }
      }
    }
  }
}
