// Tablet

@mixin tablet {
  @media (min-width: $tablet-width) {
    body {
      .site-main {
        p {
          font-size: $font__size * 1.6;
        }
        .entry-meta {
          .source {
            font-size: $font__size * 1.4;
          }
        }
        .entry-author {
          font-size: $font__size * 1.4;
        }
        button {
          font-size: $font__size * 1.2;
        }
      }
    }
  }
}

// Desktop
@mixin desktop {
  @media (min-width: $desktop-width) {
    body {
      margin: 0 auto;
      width: 100%;
      padding: 2.5%;

      header {
        justify-content: center;
        .full-logo {
          width: 700px;
        }
      }

      .site-main {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        button {
          font-size: $font__size * 1.4;
          font-weight: 700;
          border: 2px solid $color__text-alt;
          margin: 0 auto;
        }

        p {
          font-size: $font__size * 2.5;
        }
        article {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          margin: 0 auto;
          .entry-content {
            display: flex;
            justify-content: center;
            margin: 20px;
            p {
              padding: 20px;
              font-size: $font__size * 2.5;
              align-self: center;
            }

            width: 100%;
            &:before {
              padding: 20px;
              color: $color__text-alt;
              font-family: 'FontAwesome';
              font-size: $font__size * 7;
              font-weight: 900;
              content: '\f10d';
            }
            &:after {
              padding: 20px;
              color: $color__text-alt;
              font-family: 'FontAwesome';
              font-size: $font__size * 7;
              font-weight: 900;
              content: '\f10e';
            }
          }
          .entry-meta {
            margin-left: 200px;
          }
        }
      }
      footer {
        display: flex;
        justify-content: flex-end;
      }
    }
    .page-archives {
      .site-content {
        display: flex;
        margin: 1.5rem;

        &:before {
          padding: 20px;
          color: $color__text-alt;
          font-family: 'FontAwesome';
          font-size: $font__size * 7;
          font-weight: 100;
          content: '\f10d';
        }
        &:after {
          padding: 20px;
          color: $color__text-alt;
          font-family: 'FontAwesome';
          font-size: $font__size * 7;
          font-weight: 100;
          content: '\f10e';
        }
      }
      .archive {
        .site-main {
          &:before {
            padding: 20px;
            color: $color__text-alt;
            font-family: 'FontAwesome';
            font-size: $font__size * 7;
            font-weight: 900;
            content: '\f10d';
          }
          &:after {
            padding: 20px;
            color: $color__text-alt;
            font-family: 'FontAwesome';
            font-size: $font__size * 7;
            font-weight: 900;
            content: '\f10e';
          }
        }
      }
    }
  }
}
