/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.main-navigation {

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

      a {
        width: 200px;
      }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  a {
    text-decoration: none;
  }
}

.main-navigation ul {
  display: flex;
}
