// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #222222;
$color__text-main: #fff;
$color__text-alt: #00cc00;

// Typography

$font__main: 'Exo 2', sans-serif;
$font__size: 16px;
$font__line-height-body: 1.5;

// Media Size

$tablet-width: 620px;
$desktop-width: 1080px;